.DS_Store

*.dSYM

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

hardway/*
!hardway/*.c

kr/*
!kr/*.c
